VITE_SUPABASE_URL=https://tjzqhmveimnjmlzgllus.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqenFobXZlaW1uam1semdsbHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2MjE3NjgsImV4cCI6MjA5OTE5Nzc2OH0.oEExuF77TL1jvG9DJ8fHzoddfDsHhSaunNe3-hw8RKI
